
# Set default behaviour and perform LF normalization, in case users don't have core.autocrlf set.
* text=auto

# Declare files that will always have LF
*.sh text eol=lf

# Declare files that will always have CRLF line endings on checkout.
*.csproj text merge=union eol=crlf
*.sln    text merge=union eol=crlf
*.vcxproj text merge=union eol=crlf
*.bat    text eol=crlf
*.cmd    text eol=crlf

*.cs     text diff=csharp eol=crlf
*.java   text diff=java eol=crlf
*.html   text diff=html eol=crlf
*.htm    text diff=htm eol=lf
*.jsp    text diff=jsp eol=crlf
*.py     text diff=python eol=crlf
*.pl     text diff=perl eol=crlf
*.pm     text diff=perl eol=crlf
*.css    text eol=crlf
*.js     text eol=crlf
*.sql    text eol=crlf
*.ktr    text eol=crlf
*.kjb    text eol=crlf