name
# Maven
target
dist
build

# test-patch
test-patch

# IntelliJ
*.iml
*.ipr
*.iws
*.eml
.idea
.idea_modules

# Structure101
*.hsp

# Eclipse
.classpath
.project
.settings
.eclipse
.metadata
.loadpath
_site
*.launch

# C extensions
*.so

# OS X nonsense
.DS_Store
._*

# Python
*.pyc
*.pyo
*.py[ocd]
*$py.class
__pycache__/
.spyderproject
.python-version
.pydevproject

*.trs
.ipynb_checkpoints
*.lo
.webassets-cache
.revision
.scrapy
.env
venv/
ENV/
env
.eggs/
*.orij
*.rej
.buildpath
*.sln.docstates
.cproject
.externalToolBuilders/
.recommenders
.Python
.nbattrs
*.manifest
.gradle
*.spec
.tox/
# Windows:
Thumbs.db
ehthumbs.db
Desktop.ini

# Python:
*.py[cod]
*~.nib
*_i.c
*_p.c
*_i.h
*.meta
*.ilk
*.pdb
*.pgc
*.pgd
*.rsp
*.sbr
*.tlb
*.tli
*.tlh
*.vspscc
.builds
*.tmp_proj
*.vssscc
*.pidb
*.svclog
*.scc

# Installshield output folder
[Ee]xpress

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.ear

# Translations
*.mo
*.pot

# logs
/logs
desktop/logs
lint-r-report.log
log/
logs/
streaming-tests.log
unit-tests.log
derby.log
desktop.db

# Nose --with-id's file
/.noseids

# Others
~$*
*.dbmdl
*.dbproj.schemaview
*.jfm
*.pfx
*.publishsettings
*.#*
*.class
.svn
*.orig
.csettings/
*,cover
.hypothesis/
perf.data.old
.ycm_extra_conf.pyc
*.kdev4
[Bb]in
*.properties~
*.java~
*.tmp
*.Cache
stylecop.*
.metadata/
**/.keep
.coverage*
*.vcxproj.user
*.ipch
*_ReSharper*
*.diff
.externalToolBuilders
.fbwarnings
.fbprefs
.pmd
.checkstyle
*#
.cache
hs_err_pid*
.attach_*
*.hi
gen-*
.sonar
.ensime
.ensime_cache/
.ensime_lucene
.generated-mima*
out/
.vagrant

build-local.properties
jmeter-fb.*

# For R session data
.RData
.RHistory
.Rhistory
*.Rproj*
.Rproj.user

# External tool builders
*/.externalToolBuilders
*/maven-eclipse.xml

# Language compiled files
apps/*/src/*/locale/*/LC_MESSAGES/*.mo
desktop/core/src/desktop/locale/*/LC_MESSAGES/*.mo
desktop/libs/*/src/*/locale/*/LC_MESSAGES/*.mo

# vim tmp files
.*.swp
.*.swo

# emacs backup files
.*~

# Reviewboard config file
.reviewboardrc


# Sublime Text temp files
*.subl*


# Node.js Tools for Visual Studio
.ntvs_analysis.dat


junitresults*
junit*.properties

*.rbc
_Store
*~
.#*
\#*#
.*.sw[a-z]
*.un~
*.bk
*.bkup

# ruby/bundler files
.ruby-version
.ruby-gemset
.rvmrc
Gemfile.lock
.bundle
*.gem

#chef stuff
Berksfile.lock
.kitchen
.kitchen.local.yml
vendor/
.coverage/
.zero-knife.rb
pom.xml.versionsBackup

#vagrant stuff
.vagrant/
.vagrant.d/

.aws-config.json
.signing-config.json
.ackrc
.node_binaries
.ropeproject
.vscode
.jruby
.htpasswd
.eslintcache
.babelcache.json
.webpack.babelcache
ui_framework/doc_site/build/*.js*

# Cache files, generates by Zephir
.temp/
.libs/

Builds*
*.debug
*.debug.app
Debug*.exe
Debug*/Debug*.exe
Debug*/Debug*\ Libs
*.rbuistate
*.xojo_uistate
*.obsolete

## Ignore Visual Studio temporary files, build results, and
## files generated by popular Visual Studio add-ons.
##
## Get latest from https://github.com/github/gitignore/blob/master/VisualStudio.gitignore

# User-specific files
*.suo
*.user
*.userosscache

# User-specific files (MonoDevelop/Xamarin Studio)
*.userprefs

# Build results
[Dd]ebug/
[Dd]ebugPublic/
[Rr]eleases/
[Bb]in/
[Oo]bj/
[Ll]og/

# Visual Studio 2015 cache/options directory
.vs/

# MSTest test Results
[Tt]est[Rr]esult*/
[Bb]uild[Ll]og.*

# NUNIT
*.VisualState.xml

# Build Results of an ATL Project
[Dd]ebugPS/
[Rr]eleasePS/

# .NET Core
project.lock.json
project.fragment.lock.json
**/Properties/launchSettings.json


# Chutzpah Test files
_Chutzpah*

# Visual C++ cache files
ipch/
*.aps
*.opendb
*.opensdf
*.cachefile
*.VC.db
*.VC.VC.opendb

# Visual Studio profiler
*.psess
*.vsp
*.vspx
*.sap

# TFS 2012 Local Workspace
$tf/

# Guidance Automation Toolkit
*.gpState

# ReSharper is a .NET coding add-in
_ReSharper*/
*.[Rr]e[Ss]harper
*.DotSettings.user

# JustCode is a .NET coding add-in
.JustCode

# TeamCity is a build add-in
_TeamCity*

# DotCover is a Code Coverage Tool
*.dotCover

# Visual Studio code coverage results
*.coverage*

# NCrunch
_NCrunch_*
.*crunch*.local.xml
nCrunchTemp_*

# MightyMoose
*.mm.*
AutoTest.Net/

# Web workbench (sass)
.sass-cache/

# Publish Web Output
*.[Pp]ublish.xml
*.azurePubxml
# TODO: Comment the next line if you want to checkin your web deploy settings
# but database connection strings (with potential passwords) will be unencrypted
*.pubxml
*.publishproj

# NuGet Packages
*.nupkg
# The packages folder can be ignored because of Package Restore
**/packages/*
# except build/, which is used as an MSBuild target.
!**/packages/build/
# Uncomment if necessary however generally it will be regenerated when needed
#!**/packages/repositories.config
# NuGet v3's project.json files produces more ignorable files
*.nuget.props
*.nuget.targets

# Microsoft Azure Build Output
csx/
*.build.csdef

# Windows Store app package directories and files
Package.StoreAssociation.xml
_pkginfo.txt

# Visual Studio cache files
# files ending in .cache can be ignored
*.[Cc]ache
# but keep track of directories ending in .cache
!*.[Cc]ache/

# Backup & report files from converting an old project file
# to a newer Visual Studio version. Backup files are not needed,
# because we have git ;-)
_UpgradeReport_Files/

# SQL Server files
*.mdf
*.ldf
*.ndf

# Business Intelligence projects
*.rdl.data
*.bim.layout
*.bim_*.settings

# GhostDoc plugin setting file
*.GhostDoc.xml

# Typescript v1 declaration files
typings/

# Visual Studio 6 build log
*.plg

# Visual Studio 6 workspace options file
*.opt

# Visual Studio 6 auto-generated workspace file (contains which files were open etc.)
*.vbw

# Visual Studio LightSwitch build output
**/*.HTMLClient/GeneratedArtifacts
**/*.DesktopClient/GeneratedArtifacts
**/*.DesktopClient/ModelManifest.xml
**/*.Server/GeneratedArtifacts
**/*.Server/ModelManifest.xml
_Pvt_Extensions

# Paket dependency manager
.paket/paket.exe
paket-files/

# FAKE - F# Make
.fake/


# CodeRush
.cr/


# Cake - Uncomment if you are using it
# tools/**
# !tools/packages.config

# Telerik's JustMock configuration file
*.jmconfig

# BizTalk build output
*.btp.cs
*.btm.cs
*.odx.cs
*.xsd.cs

# Compiled Object files
*.slo
*.obj
*.loT

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.dylib

# Fortran module files
*.mod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.out
*.ipa

# These project files can be generated by the engine
*.xcodeproj
*.xcworkspace
*.sln
*.sdf
*.vc.db
*.vc.opendb

# Whitelist PakBlacklist-<BuildConfiguration>.txt files
!Build/*/
!Build/*/PakBlacklist*.txt
# Don't ignore icon files in Build
!Build/**/*.ico

# Built data for maps
*_BuiltData.uasset

# Compiled source files for the engine to use
Intermediate/*

# Cache files for the editor to use
DerivedDataCache/*
