# Lines that start with '#' are comments.

# Maven
target

# test-patch
test-patch

# IntelliJ
*.iml
*.ipr
*.iws
*.eml
.idea
.idea_modules

# Structure101
*.hsp

# Eclipse
.classpath
.project
.settings
.eclipse
.metadata
.loadpath
_site
*.launch

# C extensions
*.so

# OS X nonsense
.DS_Store
._*

# Python
*.pyc
*.pyo
python/deps
python/pyspark/python
python/kudu/*.so
python/kudu/*.cpp
*.py[ocd]
*$py.class
__pycache__/
.spyderproject
.python-version
.pydevproject

var/
downloads/
*.trs
.ipynb_checkpoints
*.la
*.lo
.webassets-cache
.env
.revision
.scrapy
*.o
*.rbc
.hypothesis/
*.deps
*.dirstamp
*.libs
eggs/
venv/
ENV/
.eggs/
*.orij
*.rej
lib
.buildpath
lib64
*.suo
*.user
*.sln.docstates
.cproject
contrib
parts
.externalToolBuilders/
local.properties
.recommenders
*.launch
sdist
develop-eggs/
.Python
env
.nbattrs
config.*
configure
tags
tag
*.manifest
.gradle
*.spec
.ipynb_checkpoints
.tox/
ehthumbs.db
Icon?
Thumbs.db
*.7z
*.dmg
*.gz
*.iso
*.jar
*.rar
*.tar
*.tar.gz
*.zip
*.com
*.o
*~.nib
[Dd]ebug/
[Rr]elease/
*_i.c
*_p.c
*.ilk
*.meta
*.obj
*.pch
*.pdb
*.pgc
*.pgd
*.rsp
*.sbr
*.tlb
*.tli
*.tlh
*.vspscc
.builds
*.dotCover

#packages/

# Visual C++ cache files
ipch/
*.aps
*.ncb
*.opensdf
*.sdf

# Visual Studio profiler
*.psess
*.vsp

# ReSharper is a .NET coding add-in
_ReSharper*

# Installshield output folder
[Ee]xpress

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.ear

# Translations
*.mo
*.pot

# logs
/logs
desktop/logs
lint-r-report.log
log/
logs/
streaming-tests.log
unit-tests.log
derby.log
apps/logs

# Database of running server
desktop/desktop.db
app.reg

# Nose --with-id's file
/.noseids

# Coverage product
/.coverage
/coverage.xml

# Others
*.#*
*.class
.svn
*.orig
.csettings/
nosetests.xml
coverage.xml
*,cover
.hypothesis/
perf.data
perf.data.old
oprofile_data
.ycm_extra_conf.pyc
*.kdev4
[Bb]in
*.properties~
*.java~
*.tmp
[Oo]bj
sql
TestResults
*.Cache
ClientBin
stylecop.*
~$*
*.dbmdl
.kdev4/
.metadata/
*.rej
**/.keep
.cproject
htmlcov/
.tox/
.coverage
.coverage.*
*.sdf
*.suo
*.vcxproj.user
*.log
*.jar
*~
*.user
*.ipch
*.sdf
*_ReSharper*
*.opensdf
*.diff
.externalToolBuilders
.fbwarnings
.fbprefs
.pmd
.checkstyle
*#
.cache
hs_err_pid*
.attach_*
*.hi
gen-*
.sonar
Makefile
Makefile.in
aclocal.m4
acinclude.m4
autom4te.cache
test
missing
tutorial
cmake-*
node_modules
compile
test-driver
erl_crash.dump
project.lock.json
*~
cache
.ensime
.ensime_cache/
.ensime_lucene
.generated-mima*
conf
patchprocess/
docs
backups/
backup/
lib_managed/
out/
reports/
src_managed/
nbproject/
work/
site/
.vagrant
bin/ApacheJMeter.jar

build-local.properties
jmeter-fb.*

# For Hive
TempStatsStore
metastore
metastore_db
sql/hive-thriftserver/test_warehouses
warehouse
spark-warehouse/

# For R session data
.RData
.RHistory
.Rhistory
*.Rproj
*.Rproj.*
.Rproj.user

# Filesystem contract test options and credentials
auth-keys.xml
azure-auth-keys.xml

# External tool builders
*/.externalToolBuilders
*/maven-eclipse.xml

# Language compiled files
apps/*/src/*/locale/*/LC_MESSAGES/*.mo
desktop/core/src/desktop/locale/*/LC_MESSAGES/*.mo
desktop/libs/*/src/*/locale/*/LC_MESSAGES/*.mo

# vim tmp files
.*.swp
.*.swo

# emacs backup files
.*~

# Build directory and environment
build
env
metastore_db
VERSION_INFO
bin
dist

# Generated configuration
desktop/conf/*.ini

# Reviewboard config file
.reviewboardrc

# Make files
JAVASCRIPTLINT.txt
PYLINT.txt
desktop
ext
nosetests.xml
oozie.sql
tools/jenkins/
java-lib/
dependency-reduced-pom.xml


# Sublime Text temp files
*.subl*

# Static files
/static

# Node Modules
node_modules/

junitresults*
junit*.properties

*.rbc
.config
coverage
InstalledFiles
lib/bundler/man
pkg
rdoc
spec/reports
test/tmp
test/version_tmp
tmp
_Store
*~
*#
.#*
\#*#
.*.sw[a-z]
*.un~
*.tmp
*.bk
*.bkup

# ruby/bundler files
.ruby-version
.ruby-gemset
.rvmrc
Gemfile.lock
.bundle
*.gem

# YARD artifacts
.yardoc
_yardoc

#chef stuff
Berksfile.lock
.kitchen
.kitchen.local.yml
vendor/
.coverage/
.zero-knife.rb
pom.xml.versionsBackup

#vagrant stuff
.vagrant/
.vagrant.d/

.aws-config.json
.signing-config.json
.ackrc
.node_binaries
node_modules
trash
optimize
.ropeproject
.vscode
.jruby
html_docs
esvm
.htpasswd
.eslintcache
plugins/
data
disabledPlugins
webpackstats.json
config/*
!config/kibana.yml
coverage
selenium
.babelcache.json
.webpack.babelcache
ui_framework/doc_site/build/*.js*
